<div class="jumbotron">
  <h1>Multikulti Nähcafé</h1>
  <h2>für frauen</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <p>Wollten Sie schon immer einmal etwas selber nähen? Möchten Sie endlich Ihre Hosen selber kürzen oder ein Kleid kreieren? Oder haben Sie Kleider die nicht mehr passen? Möchten Sie andere Frauen kennen lernen? Gemeinsam nähen macht mehr Spass! Wir bieten Nähmaschinen und Fachberatung und Sie bringen Ihre Stoffe, Fäden und Ihr Material mit.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Projekt</h2>
          <p>Wir sind zwei Schneiderinnen die das Multikulti Nähcafe leiten. Ziel des Projektes ist es, einen Ort zu schaffen, wo sich Frauen aller Altersgruppen und unterschiedlicher Herkunft mit und ohne Kinder treffen und sich gegenseitig unterstützen und beraten können.</p>
          <p>Der Treffpunkt soll den Austausch unter Migrantinnen sowie zwischen Migrantinnen und einheimischen Frauen fördern und ihnen helfen, soziale Kontakte zu knüpfen. Gleichzeitig sollen sie im Nähcafe Gelegenheit erhalten, ihre handarbeiterischen Fertigkeiten anzuwenden bzw. sich neue Fertigkeiten anzueignen.</p>
          <p>Die Frauen nähen, ändern, flicken und bügeln gemeinsam für den Eigengebrauch. Während der Arbeit wird deutsch und französisch gesprochen, was die Frauen gegenseitig voneinander profitieren lässt und ihnen gleichzeitig Gelegenheit gibt, die deutsche oder die französische Sprache regelmäßig anzuwenden.</p>
          <p>Auf diese Weise kann das Praktische (Nähen) mit den Nützlichen (Informationsaustausch als Integrationshilfe) verbunden werden.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Wann</h2>
          <p>Freitag: von 14.00 bis 17.00</p>
          <p>Während der <a href="https://www.biel-bienne.ch/de/pub/leben/kinder_jugendliche/allgemeine_informationen/schulferien_und_weitere_termin.cfm" target="_blank" title="Bieler Schulferien">Bieler Schulferien</a> ist das Nähcafé geschlossen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Wo</h2>
          <p>GÄRBI Breihaus, Gärbergasse 25, 2502 Biel</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10855.252061917907!2d7.244649056591797!3d47.14192924841706!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x309d7d87c80a10c2!2sG%C3%A4rbi+Breihaus!5e0!3m2!1sde!2sch!4v1485792846683"></iframe>
          </div>          
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Kosten</h2>
          <p>Multikulti Nähcafé: CHF 2.­ (pro Besuch)</p>
        </div>
    </div>   
    <div class="row">
        <div class="col-md-12">
          <h2>Kontakt & Anmeldung</h2>
          <p>Lara Luginbühl:</p>
          <p>Jana Avramovic:</br>079 128 43 50 <a href="mail:avramovic.jana@gmail.com">avramovic.jana@gmail.com</a>.</p> 
          <p>Wir beantworten gern Ihre Fragen.</br>Sie können gern auch am Freitag­ Nachmittag vorbei kommen.</p>
        </div>
    </div>
</div>
