<div class="jumbotron">
  <h1>Multikulti Nähcafé</h1>
  <h2>pour femmes</h2>
  <ul class="languageswitch">
    <li><a href="/" title="Deutsch">DE</a></li>
    <li class="active">FR</li>
  </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <p>Vous souhaitez faire de la couture et  créer votre propre vêtement? Vous aimeriez faire des retouches sur vos habits? Ou alors un vêtement devenu trop grand ou trop petit? Aimeriez-vous rencontrer d’autres personnes qui partagent votre intérêt?</p>
          <p>Ensemble, la couture est bien plus facile et plus amusante!</p>
          <p>Nous vous offrons la possibilité de réaliser ce projet en groupe sur nos machines avec les conseils avisés et le suivi de deux professionnelles.</p>
          <p>Apportez simplement vos tissus, vêtements et autre choses à confectionner, nous nous occupons du reste!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Projet</h2>
          <p>Nous sommes deux couturières bilingues (français, allemand) à votre service qui tenons le café-couture multikulti.</p>
          <p>Le but de ce projet est de créer un espace de rencontre et d’entraide réservée aux femmes issues de diverses origines et âge avec ou sans enfants. A travers la pratique de la couture, cet espace se veut également un espace d’échange culturel et d’intégration.</p>
          <p>De plus, ces rencontres permettent à celles qui en ont besoin de pratiquer régulièrement la langue française ou allemande puisque nos sessions sont dispensées dans ces deux langues.</p>
          <p>Que vous soyez débutante ou déjà compétente dans l’art de la couture, vous trouverez votre place chez nous pour réaliser votre projet personnel !</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <h2>Photos</h2>

          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators visible-lg">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic" data-slide-to="5"></li>
              <li data-target="#carousel-example-generic" data-slide-to="6"></li>
              <li data-target="#carousel-example-generic" data-slide-to="7"></li>
              <li data-target="#carousel-example-generic" data-slide-to="8"></li>
              <li data-target="#carousel-example-generic" data-slide-to="9"></li>
              <li data-target="#carousel-example-generic" data-slide-to="10"></li>
              <li data-target="#carousel-example-generic" data-slide-to="11"></li>
              <li data-target="#carousel-example-generic" data-slide-to="12"></li>
              <li data-target="#carousel-example-generic" data-slide-to="13"></li>
              <li data-target="#carousel-example-generic" data-slide-to="14"></li>
              <li data-target="#carousel-example-generic" data-slide-to="15"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/team.jpg" alt="Team">
                <div class="carousel-caption">Team</div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/IMG-20170203-WA0030.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/IMG-20170203-WA0029.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/IMG-20170203-WA0018.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/IMG-20170203-WA0014.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/IMG-20170203-WA0010.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/20170310_182252.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/20170310_182151.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/20170310_182105.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/20170310_182036.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/20170309_195907.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/20170309_195650.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/20170309_195546.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/20170303_165008.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" src="[[++site_url]]assets/templates/multikulti/images/galery/20170203_132540.jpg" alt="Team">
                <div class="carousel-caption"></div>
              </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <h2>Quand</h2>
          <p>Vendredi de 14h à 17h</p>
          <p>Pendant les <a href="https://www.biel-bienne.ch/fr/pub/vivre/enfants_et_jeunes/informations_generales/vacances_scolaires.cfm" target="_blank" title="Vacances scolaires">vacances scolaires de Bienne</a>, le café couture est fermé.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Où</h2>
          <p>GÄRBI Breihaus, Gärbergasse 25, 2502 Biel</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10855.252061917907!2d7.244649056591797!3d47.14192924841706!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x309d7d87c80a10c2!2sG%C3%A4rbi+Breihaus!5e0!3m2!1sde!2sch!4v1485792846683"></iframe>
          </div>          
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Prix</h2>
          <p>CHF  40.- (pour 6 mois)</p>
          <p>CHF  10.- (pour les visites spontanées)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Soutenue par</h2>
        </div>
    </div>
    <div class="row sponsor">
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <a title="LUSH SWITZERLAND AG" href="http://www.lush-shop.ch/" target="_blank"><img height="" src="[[++site_url]]assets/templates/multikulti/images/logo-lush.png" class="img-responsive" alt="LUSH SWITZERLAND AG" /></a>
        </div>
        <div class="col-md-2">
          <a title="Multimondo" href="http://www.multimondo.ch/" target="_blank">
          <img src="[[++site_url]]assets/templates/multikulti/images/logo-multimondo.png" class="img-responsive" alt="Multimondo" /></a>
        </div>
        <div class="col-md-2">
          <a title="MIGROS" href="https://www.migros.ch/de.html" target="_blank">
          <img src="[[++site_url]]assets/templates/multikulti/images/logo-migros.png" class="img-responsive" alt="MIGROS" /></a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Don</h2>
          <p>Nous sommes reconnaisant pour chaque petit don.</p>
          <p>Merci!</p>
          <p>
            Multikulti Nähcafe für Frauen<br/>
            Biel/Bienne<br/>
            Postkonto: 61-388420-0
          </p>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
          <h2>Contact et inscription</h2>
          <p>Lara Luginbühl, Jana Avramovic:</p>
          <p>079 128 43 50 <a href="mail:avramovic.jana@gmail.com">avramovic.jana@gmail.com</a></p> 
          <p>Nous répondons volontiers à toutes vos questions.</br>Venez nous rendre visite pour en savoir plus!</p>
        </div>
    </div>
</div>
