<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>SavetheDate</title>
<meta name="description" content="SavetheDate"/>
<meta name="keywords" content="SavetheDate"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<link href="media/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gloria+Hallelujah" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="scripts/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="scripts/functions.js"></script>
</head>


<body style="background-image:none url(media/bg_bannerportal.jpg)">

	<div id="header" class="clear">
	
		<h1 id="logo" title="SavetheDate"><a href="01-portal.html" title="SavetheDate"><img src="media/logo.png" alt="SavetheDate"/></a></h1>
		<p class="payoff hidden">Your charity-driven, eco-friendly, online party service</p>
		<div id="topnav">
			<ul>
				<li><a href="">Sign up</a>  |</li>
				<li><a href="">Login</a></li>
			</ul>
		</div><!-- End topnav -->
		
		<div id="wrap-mainmenu" class="clear">
			<div id="mainmenu">
				<ul class="sf-menu">
					<li><a href="02-sub-standard.html">About</a></li>
					<li><a href="02-sub-howitworks.html">How it works</a></li>
					<li><a href="03-sub-register.html">Set up my party</a></li>
					<li><a href="02-sub-standard.html">Charity partners</a></li>
					<li><a href="07-sub-contact.html">Contact</a></li>
				</ul>
			</div><!-- End mainmenu -->
		</div><!-- End wrap-mainmenu -->
	
	</div><!-- End header -->
	
	
	
	
	

	<div id="banner-portal" class="clear">

			<div class="flex-container" >
				<div class="flexslider">
					<ul class="slides">
						<li><a href="#"><img src="media/banner/001.jpg" /></a></li>
						<li><a href="#"><img src="media/banner/002.jpg" /></a></li>
					</ul>
				</div>
			</div><!-- End flex-container -->
	
			<script type="text/javascript" src="scripts/jquery.flexslider.js"></script>

	</div><!-- End banner-portal -->


	<div id="portal-blocks" class="clear">
		<h2>Here's how it works...</h2>
		<ul>
			<li><a href="02-sub-howitworks.html"><img src="media/block-01.jpg" alt="" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet nisi sed arcu mattis ullamcorper. Phasellus venenatis mauris lacus, ac pharetra ipsum.</a></li>
			<li><a href="02-sub-howitworks.html"><img src="media/block-02.jpg" alt="" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet nisi sed arcu mattis ullamcorper. Phasellus venenatis mauris lacus, ac pharetra ipsum.</a></li>
			<li><a href="02-sub-howitworks.html"><img src="media/block-03.jpg" alt="" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet nisi sed arcu mattis ullamcorper. Phasellus venenatis mauris lacus, ac pharetra ipsum.</a></li>
			<li class="last"><a href="03-sub-register.html"><img src="media/block-04.jpg" alt="" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet nisi sed arcu mattis ullamcorper. Phasellus venenatis mauris lacus, ac pharetra ipsum.</a></li>
		</ul>
	</div><!-- End portal-blocks -->
		
		
		
		
		
		
		
	<div id="wrap-footer" class="clear">
		<div id="footer" class="clear">
			<div id="footerblock-a">
				<h3>In a nutshell</h3>
				<p>SavetheDate is your charity-driven, eco-friendly, online party service where all your friends learn the value of giving and receiving while celebrating.</p>
			</div>
			
			<div id="footerblock-b">
				<h3>SavetheDate</h3>
				<ul>
					<li><a href="">About us</a></li>
					<li><a href="">How it works</a></li>
					<li><a href="">Setup my party</a></li>
					<li><a href="">Charity partners</a></li>
				</ul>
			</div>
			
			<div id="footerblock-c">
				<h3>Information</h3>
				<ul>
					<li><a href="">Terms of use</a></li>
					<li><a href="">Privacy policy</a></li>
					<li><a href="">Sitemap</a></li>
					<li><a href="">Contact us</a></li>
				</ul>
			</div>
			
			<div id="footerblock-d">
				<h3>We are social</h3>
				<img src="media/_tmp_social.jpg" />
			</div>
				
		</div><!-- End footer -->
	</div><!-- End wrap-footer -->
		
<div id="wrap-bottom-footer" class="clear">
	<div id="bottom-footer">
		&#169; SavetheDate All Rights Reserved | <a href="">Developed by</a>
	</div><!-- End bottom-footer -->
</div><!-- End wrap-bottom-footer -->
				
<div id="back-top"><a href="#header">Back to Top</a></div>

</body>
</html>