<div class="row">
<div class="col-md-8">[[!FormIt? hooks=`spam,FormItLog,email` logfile=`[[++formitlog.logfile]]` emailTpl=`tpl.email.contact` emailFrom=`[[++emailsender]]` emailFromName=`[[+name]]` emailTo=`admin@sofasurfer.org` emailToName=`[[++site_name]]` emailReplyTo=`[[+email]]` emailHtml=`true` emailUseFieldForSubject=`1` successMessage=`1` validate=`name:required, email:email:required, subject:required, text:required:stripTags` ]] [[$tpl.form.contact]]</div>
<div class="col-md-4">
<p><img title="Kilian Bohnenblust" src="stream/images/nav/kibth.jpg" alt="" class="img-rounded img-responsive" /></p>
<p class="address"><strong>Kilian Bohnenblust</strong> <br /> <!--
<abbr title="Map"><i class="fa fa-map-marker"></i></abbr> Phuket - Thailand<br />
<abbr title="Phone"><i class="icon-phone"></i></abbr> +66 (0)86 277 35 40 <br />
--> 
<div class="about-address">
<i class="fa fa-map-marker"></i> <abbr title="Map"><a href="http://goo.gl/rTgbnL" target="_blank">Biel/Bienne - Switzerland</a></abbr> <br /> 
<i class="fa fa-envelope-o"></i> <abbr title="Send e-mail"><a href="mailto:kilian@sofasurfer.ch">kilian@sofasurfer.ch</a></abbr> </p>
<p><a class="twitter-follow-button" href="https://twitter.com/sofacoder" data-show-count="false">Follow @sofacoder</a></p>
</div>
</div>
</div>