<div class="jumbotron">
  <h1>Stude Yeah</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<h2>Stude – über Grenchen zum Kulthit</h2>
								
			<p>Mark Stalder ist Stude. Und Stude ist in Biel schon seit längerer Zeit Kult. Als Schreiber von unangestrengter Alltagspoesie in Schlagerform, als leicht dadaistischer Liederschmied.</p>
								
			<p>Um Stude richtig zu würdigen, müsste hier über den regen, kreativen Bieler Untergrund berichtet werden, der in Yagwud seine Wurzeln hat und im Erfolg der grossartigen Puts Marie seine schönsten Blüten treibt. Irgendwo dazwischen liegt Stude. Unspektakulär, unaufgeregt, aber immer für einen Hit gut. Hits wie die wunderbare Ode an das Migrosrestaurant Grenchen, wie der Aufruf zur Befreiung der Zootiere, die Hymnen für Lastwagenfahrerinnen und Rastastragerinnen, die ironischen Bemerkungen zum Wunschzettel der kleinen Tochter. In weichen Berndeutsch, neuerdings als Kontrast sogar in einem wunderbar krachenden Skilehrer-Österreichisch!</p>
								
			<p>Stude könnte seinen Underground-Erfolg aus Biel in die ganze Schweiz hinaustragen. Die Songs dazu hat er, sein sparsames Reggae-inspiriertes Bassspiel legt einen sanft federnden Boden, die Mitmusiker sind allesamt kompetent, bekannt und leicht berühmt und durch Studes absurd sparsames Auftreten sichtlich inspiriert – wenn diese Musik auf Zuhörer trifft, dann knallt es. Und Stude explodiert, auf seine verhaltene Art, natürlich.</p>
								
			<p>Studes Musik ist nicht allzu leicht zu finden. Sucht man den Hit „Gränche“, muss man auf Youtube nach Studeyeah suchen! Seine CD unter ‚Stude Langusta‘, dem Namen des Labels. Es empfiehlt sich der Kauf direkt aus dem Bauchladen nach dem Konzert!</p>
        </div>
    </div>       
    <div class="row">
        <div class="col-md-12">
			<h2>Videos</h2>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://www.youtube.com/embed/mY5qFolhcck" frameborder="0" allowfullscreen></iframe>
			</div>
			<p class="spacetop"><a href="https://www.youtube.com/channel/UC-PIf2MiyQXQbwOMLsSD-PQ" target="_blank">more videos</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
			<h2>Konzerte</h2>
			<div style="overflow-x:auto;">
			<table class="table table-hover table-responsive">
				<tr>
					<td>01.05.2017</td>
					<td>Tag der Arbeit</td>
					<td><a href="https://goo.gl/maps/qDC17jGGoUC2" target="_blank">Zentralplatz Biel</a></td>
				</tr>
				<tr>
					<td>21.07.2017</td>
					<td>Boui Festival</td>
					<td><a href="http://www.boui-boui.ch/" target="_blank">http://www.boui-boui.ch/</a></td>
				</tr>
				<tr>
					<td>12.07.2017</td>
					<td>Podring</td>
					<td><a href="http://www.podring.ch/" target="_blank">http://www.podring.ch/</a></td>
				</tr>
			</table>
			</div>		
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
			<h2>Kontakt</h2>
			<p>+41 (0)77 437 38 67</p>
			<p><a href="mailto:&#115;&#116;&#097;&#108;&#100;&#101;&#114;&#046;&#109;&#097;&#114;&#107;&#064;&#103;&#109;&#120;&#046;&#110;&#101;&#116;">&#115;&#116;&#097;&#108;&#100;&#101;&#114;&#046;&#109;&#097;&#114;&#107;&#064;&#103;&#109;&#120;&#046;&#110;&#101;&#116;</a></p>
		</div>
	</div>	
</div>
<div class="jumbotron footer">
  <h1></h1>
</div>