    html,
    body{
        background-color: #F5F5F5;        
    }


    .brand{
        display: inline-block;
        width:80px;
        /*
        margin:0px;
        padding: 5px 2px !important;
        */
        /*color: #660000 !important;*/
        /*color: #660000 !important;*/
    }
    .brand  .logo{
        position:absolute;      
        top:-10px;  
        height:70px;        
    }
    .navbar{
        background-color: #FFF;
    }
    .navbar-inner{
        background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1);
    }
    .navbar .nav > li > a i{
        /*
        color:white;
        font-size: 16px;
        text-shadow:0 0px 0 #FFF;
        */
        font-size: large;        
    }
    .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle,
    .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
        background:none;
        background-color:transparent;
        box-shadow: none;
        border-bottom: 2px;
    }
    #wrap{
        height: 100%;
        min-height: 100%;
        background-color: #FFF;        
        /* Negative indent footer by it's height */
    }
    #main{
        padding: 50px 0px 50px 0px;        
    }
    #footer{
        border-top: 1px solid #E5E5E5;
        background-color: #F5F5F5;
        color: #777777;
        padding: 20px 0px 50px 0px;
    }    
    #footer h4{
        font-style:italic;
    }
    #footer .footer-nav{
        padding-top:50px;
    }
    #footer .debug{
        color:gray;
        font-size:xx-small;
        margin: 0 auto;
    }
    #footer .metanav{
        line-height: .8em;
        padding-top:50px;
    }
    #footer .meta-nav {
        margin-top:40px;
        padding:0px;
        font-size:small;        
    }
    .breadcrumb{
        margin-left:0;
        padding-left:0;
        margin-bottom:0px;
        background-color: transparent; !important;
    }    
    .breadcrumb-nav{
        line-height: 40px;
        padding:0;
        margin:0;
    }
    .breadcrumb2 li{
        display:inline-block;        
        height:25px;
        margin:0;
        padding:0;
        border:solid 0px;
        line-height: 20px;
    }
    .breadcrumb a{
        text-shadow:0 1px 0 #FFFFFF;
    }
    .breadcrumb i{
        font-size:18px;
    }
    li.share{
        margin:10px 0px 0px 20px;
    }
    .jumbotron{
        text-align: center;
        margin: 0 auto;
        margin-bottom:20px;
    }
    .jumbotron h1{
        padding-top:30px;        
        color: #5A5A5A;
        letter-spacing:3px
    }
    .jumbotron h3{
        display: inline-block;
    }    

    .row-fluid {
        margin: 0 auto;
    }
    .row-fluid .pull-left{
        padding-left:30px;
    }
    .row-fluid .pull-right,
    .row-fluid .pagination-right{
        padding-right:30px;    
    }
    h2,h3{
        color: #5A5A5A;
        letter-spacing:2px
    }
    .title,
    .title a{
        color: #5A5A5A;        
    }

    abbr{
        margin-right:5px;
    }
    .post-content .thumbnail{
        margin:10px;
    }

    /*
    @import url(http://fonts.googleapis.com/css?family=Armata);
    .brand{
        font-family: 'Armata', sans-serif;
    }
    */
    /*https://raw.github.com/sofasurfer/MODX-Templates/master/*/
    /*
    @font-face {
        font-family: 'sofafontregular';
        src: url('/assets/templates/sofaweb/fonts/sofafont/sofafont.eot');
        src: url('/assets/templates/sofaweb/fonts/sofafont/sofafont.eot?#iefix') format('embedded-opentype'),
             url('/assets/templates/sofaweb/fonts/sofafont/sofafont.woff') format('woff'),
             url('/assets/templates/sofaweb/fonts/sofafont/sofafont.ttf') format('truetype'),
             url('/assets/templates/sofaweb/fonts/sofafont/sofafont.svg#sofafontregular') format('svg');
        font-weight: 400;
        font-style: normal;
    }
    [class^="sicon-"]:before, [class*=" sicon-"]:before {
        display: inline-block;
        font-family: sofafontregular;
        font-style: normal;
        font-weight: 400;
        text-decoration: inherit;
    }    
    .brand .sicon-logo:before{
        color:#660000;
        content: "s";
        font-size: 18px;
    }
    */

    .dropdown-menu ul {
      list-style: none;
    }
    .dropdown-menu  a{
        text-align: left;
        padding-left: 5px;
    }
    .dropdown-menu i{
        padding-right: 10px;
    }
    .subnav p{
      padding-top:10px;
      padding-left: 10px;
    }
    
    .popover-content label{
        width: 30%;
        display: inline-block;
    }
    .popover-content ul{
        display:inline;
    }
    .navTags li{
        margin:5px;
        padding:0px;
    }
    .navTags li a{
        color:#FFF;
    }
    .tagList li
    {
        display: inline-block;
        list-style-type: none;
        padding:5px;
        margin-bottom: 10px;

    }
    .tagList .label a, 
    .tagList .badge a{
        text-shadow: none !important;
    }
    .label-info a{
        color:white;
    }
    .label-important{
        background-color: #EEEEEE;
    }
    #modal-video{
      overflow:auto;
      max-height:100%;
    }   
    #gMap{
        width: 98%;
        height: 300px;
        border:solid 1px #DFDFDF;
        border-radius:5px;  
        margin-bottom: 10px;
    }
    .thumbnail .title{
        border:solid 0px aqua;
        height:1.5em;
        line-height: .8em;
    }
    .thumbnail .caption{
        margin-bottom:10px;
    }
    /* For Mouse Over Caption */
    .hover-group{
        position: relative;
        overflow: hidden;
    }
    .caption-fixed{
        height: 200px;
        overflow:hidden;
    }
    .hover-toggle{
        position:absolute;
        left:0;
        bottom: 0px;
        height: auto;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        visibility: hidden;
        opacity: .9;        
        background-color: #F5F5F5;
    }
    .visible .hover-toggle{
        visibility: visible;
    }
    .connect{
        font-size: 24px;
    }
    .connect i{
        color: #777777;
        margin-right:10px;
    }
    .connect i:hover{
        color: #333333;
    }
    #back-top{        
        position:fixed;
        right:10px;
        bottom:10px;
        display: block;
        font-size: 24px;
    }
    .navbar-text{
        margin:0 auto;
        text-align: left;
    }
    .text-centered {
        text-align:center;
        margin: 0 auto;
    }
    /* Sidenav for Docs
    -------------------------------------------------- */
    .container-fluid ul.thumbnails{
        margin:0 auto;
    }
 /*

    .row-fluid li.span6:nth-child(2n + 3) { margin-left : 0px; }
    .row-fluid li.span4:nth-child(3n + 4) { margin-left : 0px; }
    .row-fluid li.span4:nth-child(4n + 5) { margin-left : 0px; }
    .row-fluid li.span2:nth-child(6n + 7) { margin-left : 0px; }
    .row-fluid li.span1:nth-child(12n + 13) { margin-left : 0px; }
 
    .row-fluid {
        ul.thumbnails {
            li.span12 + li { margin-left : 0px; }
            li.span6:nth-child(2n + 3) { margin-left : 0px; }
            li.span4:nth-child(3n + 4) { margin-left : 0px; }
            li.span3:nth-child(4n + 5) { margin-left : 0px; }
            li.span2:nth-child(6n + 7) { margin-left : 0px; }
            li.span1:nth-child(12n + 13) { margin-left : 0px; }
        }
    }
*/

    .bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
       -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
            box-shadow: 0 1px 4px rgba(0,0,0,.065);
    }
    .bs-docs-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
    }
    .bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
    }
    .bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    }
    .bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
       -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
            box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    }
    /* Chevrons */
    .bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
    }
    .bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
    }
    .bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
    }
    .bs-docs-sidenav .active .icon-chevron-right,
    .bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
    }
    .bs-docs-sidenav.affix {
        top: 40px;
    }
    .bs-docs-sidenav.affix-bottom {
        position: absolute;
        top: auto;
        bottom: 270px;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
    }
     
    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.modal-gallery{width:auto;max-height:none;outline:none;}
.modal-gallery .modal-body{max-height:none;}
.modal-gallery .modal-title{display:inline-block;max-height:54px;overflow:hidden;}
.modal-gallery .modal-image{position:relative;margin:auto;min-width:360px;min-height:270px;overflow:hidden;cursor:pointer;}
.modal-gallery .modal-image:hover:before,.modal-gallery .modal-image:hover:after{content:'\2039';position:absolute;top:50%;left:15px;width:40px;height:40px;margin-top:-20px;font-size:60px;font-weight:100;line-height:30px;color:#ffffff;text-align:center;background:#222222;border:3px solid #ffffff;-webkit-border-radius:23px;-moz-border-radius:23px;border-radius:23px;opacity:0.5;filter:alpha(opacity=50);z-index:1;}
.modal-gallery .modal-image:hover:after{content:'\203A';left:auto;right:15px;}
.modal-single .modal-image:hover:before,.modal-single .modal-image:hover:after{display:none;}
.modal-loading .modal-image{background:url(../img/loading.gif) center no-repeat;}
.modal-gallery.fade .modal-image{-webkit-transition:width 0.15s ease, height 0.15s ease;-moz-transition:width 0.15s ease, height 0.15s ease;-ms-transition:width 0.15s ease, height 0.15s ease;-o-transition:width 0.15s ease, height 0.15s ease;transition:width 0.15s ease, height 0.15s ease;}
.modal-gallery .modal-image *{position:absolute;top:0;opacity:0;filter:alpha(opacity=0);}s
.modal-gallery.fade .modal-image *{-webkit-transition:opacity 0.5s linear;-moz-transition:opacity 0.5s linear;-ms-transition:opacity 0.5s linear;-o-transition:opacity 0.5s linear;transition:opacity 0.5s linear;}
.modal-gallery .modal-image *.in{opacity:1;filter:alpha(opacity=100);}

.modal-gallery .modal-video{position:relative;margin:auto;min-width:360px;min-height:270px;width:100%;height:100%;overflow:hidden;cursor:pointer;}
/*
.modal-gallery .modal-video:hover:before,.modal-gallery .modal-video:hover:after{content:'\2039';position:absolute;top:50%;left:15px;width:40px;height:40px;margin-top:-20px;font-size:60px;font-weight:100;line-height:30px;color:#ffffff;text-align:center;background:#222222;border:3px solid #ffffff;-webkit-border-radius:23px;-moz-border-radius:23px;border-radius:23px;opacity:0.5;filter:alpha(opacity=50);z-index:1;}
*/

/*.modal-gallery .modal-video:hover:after{content:'\203A';left:auto;right:15px;}
.modal-single .modal-video:hover:before,.modal-single .modal-video:hover:after{display:none;}
.modal-loading .modal-video{background:url(../img/loading.gif) center no-repeat;}
.modal-gallery.fade .modal-video{-webkit-transition:width 0.15s ease, height 0.15s ease;-moz-transition:width 0.15s ease, height 0.15s ease;-ms-transition:width 0.15s ease, height 0.15s ease;-o-transition:width 0.15s ease, height 0.15s ease;transition:width 0.15s ease, height 0.15s ease;}
.modal-gallery .modal-video *{position:absolute;top:0;opacity:0;filter:alpha(opacity=0);}
.modal-gallery.fade .modal-video *{-webkit-transition:opacity 0.5s linear;-moz-transition:opacity 0.5s linear;-ms-transition:opacity 0.5s linear;-o-transition:opacity 0.5s linear;transition:opacity 0.5s linear;}
*/
.modal-gallery .modal-video video{opacity:1;filter:alpha(opacity=100);}

.modal-fullscreen{border:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background:transparent;overflow:hidden;}
.modal-fullscreen.modal-loading{border:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.modal-fullscreen .modal-body{padding:0;}
.modal-fullscreen .modal-header,.modal-fullscreen .modal-footer{position:absolute;top:0;right:0;left:0;background:transparent;border:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;opacity:0;z-index:2000;}
.modal-fullscreen .modal-footer{top:auto;bottom:0;}
.modal-fullscreen .close,.modal-fullscreen .modal-title{color:#fff;text-shadow:0 0 2px rgba(33, 33, 33, 0.8);}
.modal-fullscreen .modal-header:hover,.modal-fullscreen .modal-footer:hover{opacity:1;}
@media (max-width:767px){.modal-gallery .btn span{display:none;} .modal-fullscreen{right:0;left:0;}}
