    body{
        background-color: #F5F5F5 !important;                
    }
    .breadcrumb2 {
        list-style: none;
    }
    .breadcrumb2 {
        display: inline-block;
    }
    .breadcrumb {
        margin-top:0px;
        padding-top:0px;
        background-color: #FFF !important;   
    }
    #wrap {
        padding-top: 50px;
        padding-bottom: 0px;
        height: auto !important;        
        height: 100%;
        background-color: #FFF !important;        
        /* Negative indent footer by it's height */
        /*margin: 0 auto -260px;*/
    }
    abbr{
        margin-right:5px;
    }
    /*
    @import url(http://fonts.googleapis.com/css?family=Armata);
    .brand{
        font-family: 'Armata', sans-serif;
    }
    */
    /*https://raw.github.com/sofasurfer/MODX-Templates/master/*/
    /*
    @font-face {
        font-family: 'sofafontregular';
        src: url('/assets/templates/sofaweb/fonts/sofafont/sofafont.eot');
        src: url('/assets/templates/sofaweb/fonts/sofafont/sofafont.eot?#iefix') format('embedded-opentype'),
             url('/assets/templates/sofaweb/fonts/sofafont/sofafont.woff') format('woff'),
             url('/assets/templates/sofaweb/fonts/sofafont/sofafont.ttf') format('truetype'),
             url('/assets/templates/sofaweb/fonts/sofafont/sofafont.svg#sofafontregular') format('svg');
        font-weight: 400;
        font-style: normal;
    }
    [class^="sicon-"]:before, [class*=" sicon-"]:before {
        display: inline-block;
        font-family: sofafontregular;
        font-style: normal;
        font-weight: 400;
        text-decoration: inherit;
    }    
    .brand .sicon-logo:before{
        color:#660000;
        content: "s";
        font-size: 18px;
    }
    */

    .brand{
        /*color: #660000 !important;*/
    }
    .navbar-inner{
      background-color: #BF2323 !important;
    }
    .navbar .nav > li > a{
        font-size: 14px;
    }    
    .navbar-icon {
        padding-top: 3px !important;
        padding-left:15px;
    }
    .page-header {
			text-align: center;
	}
    .dropdown-menu ul {
      list-style: none;
    }
    .dropdown-menu  a{
        padding-left: 5px;
    }
    .dropdown-menu i{
        padding-right: 10px;
    }
    .subnav p{
      padding-top:10px;
      padding-left: 10px;
    }
    .nav .tl-cloud{
      margin:0;
      padding:0;
    }
    .nav .tl-tag{
      float:left;
      margin:0;
      padding:2px;
      list-style: none;
    }
    .tagList li
    {
      display: inline;
      list-style-type: none;
      padding-right: 10px;
    }
    #modal-video{
      overflow:auto;
      max-height:100%;
    }   
    #gMap{
        width: 98%;
        height: 300px;
        border:solid 1px #DFDFDF;
        border-radius:5px;  
        margin-bottom: 10px;
    }

    /* For Mouse Over Caption */
    .hover-group{
        position: relative;
        overflow: hidden;
    }
    
    .hover-toggle{
        position:absolute;
        left:0;
        top: 0px;
        height: 100%;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        visibility: hidden;
        background-color: #F5F5F5;
    }
    .visible .hover-toggle{
        visibility: visible;
    }​    
    .footer,
    footer {
        padding: 20px 0;
        border-top: 1px solid #E5E5E5;
        background-color: #F5F5F5;
        height: auto !important;
        color: #777777;

    }
    .connect{
        font-size: 24px;
    }
    .connect i{
        color: #777777;
        margin-right:10px;
    }
    .connect i:hover{
        color: #333333;
    }
    #back-top{        
        position:fixed;
        right:10px;
        bottom:10px;
        display: block;
        font-size: 24px;
    }
    /* Sidenav for Docs
    -------------------------------------------------- */

    .bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
       -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
            box-shadow: 0 1px 4px rgba(0,0,0,.065);
    }
    .bs-docs-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
    }
    .bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
    }
    .bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    }
    .bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
       -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
            box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    }
    /* Chevrons */
    .bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
    }
    .bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
    }
    .bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
    }
    .bs-docs-sidenav .active .icon-chevron-right,
    .bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
    }
    .bs-docs-sidenav.affix {
    top: 40px;
    }
    .bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
    }
