<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>[[*longtitle]]</title>
    <meta name="description" content="[[*description]]">
    <meta name="keywords" content="[[*introtext]]">    
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="[[++site_url]]stream/assets/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet"  />   
    <link href="[[++site_url]]stream/assets/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="[[++site_url]]assets/templates/multikulti/css/main.css?ver=6" rel="stylesheet">
  </head>
  <body class="[[*alias]]">
    [[*content]]
    <footer>
      <p><a href="https://www.sofasurfer.org" target="_blank" title="Built by SofaSurfer">Built by SofaSurfer</a></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="[[++site_url]]stream/assets/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="[[++site_url]]assets/templates/multikulti/js/main.js"></script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.www.multikulti-naehcafe.ch"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.sofasurfer.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '27']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.sofasurfer.org/piwik.php?idsite=27" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>
</html>
