<!--div class="container about">
    <div class="row">
        <div class="col-md-12">
            A genuine musical parody dedicating its content to the sad and lost of Italian Pop-, TV- and nightculture. An homage to our Southern roots and neighbors. Pink and light blue we wish it to be, Rai Uno, large breasted, corny, glamorous, dark romantic, in love, dishonest, lost and forgotten and all that finally exhumed by Mister Milano.
            A performance, a theatrical story as well as a Pop concert. 
        </div>
    </div>
</div-->
<div class="container-fluid parallax home">

</div>
<!--div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive space-bottom" src="/assets/templates/mistermilano/images/cover.png" alt="Mister Milano Cover" />
        </div>

        <div class="col-md-6">
            <img class="img-responsive space-bottom" src="/assets/templates/mistermilano/images/coverback.png" alt="Mister Milano Cover" />
        </div>
    </div>
</div-->