@font-face{
    font-family: akzidenzGrotesk;
    src: url('/assets/templates/putsmarie/fonts/akzidenz-grotesk-bold.ttf');
}
html,body{
    background:black!important;
    color:white;
    text-align: center;
    /*font-family: 'Finger Paint', cursive;*/
    font-family: 'akzidenzGrotesk';
    margin-bottom: 3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;            
}
h1{
    padding:1.5em;
}
h1.no-padding{
    padding-bottom: 0px !important;
}
a{
    cursor: pointer;            
}
.jumbotron{
    text-align: center !important;
    background: black !important;
}
.logo{
    width:100%;
    max-width:850px;
}
table{
}
table td{
    text-align: left;
    border-top: 1px solid #7e7e7e !important;
}
td.location,
td.venue{
    margin-top:20px;
    font-size: 1.4em;
    line-height: 47px !important;
}
.location-small{
    display: none;
}        
td.ticket{
    padding-top: 20px !important;
}
tr:hover{
    color: black;
}
.date span{
    display:block;
    text-align: center;
    line-height: 16px;
}
span.day{
    font-size: 1.4em;
}
span.month{
    font-size: 1.6em;
}
.order{
    margin-top: 1.9em;
    margin-bottom: 2em;
}
.button,
.buy,
.ticket a{
    color: white;
    padding: 12px 50px 12px 50px;
    text-transform: uppercase;
    background-color: #c82606;
    border: 0;
}
.buy:hover,
.ticket a:hover{        
    color: white;
}
.buy.france{
    margin-top: 50px;
}

.mc-field-group input{
	margin: 20px;
	color: black;
	font-size: 18px;
	line-height: 24px;
	padding: 10px 20px;
    width: 80%;
    text-align: center;	
}

footer {
    margin-top: 50px;
}
footer a{
    color: white;
    cursor: pointer!important;
}
@media (max-width: 1000px) {
    .ticket a{
        padding: 5px;
    }           
}
@media (max-width: 480px) {
    td.location{
        display:none;
    }
    .location-small{
        display: block;
    }
    td.location,
    td.venue{
        line-height: 20px !important;
    }
}