/*

    CSS Styles for mistermilano.it

*/


/*@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');*/
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Arvo');

html { 
  height:100%;
}

body{
  height:100%;
  font-size: 2.5em;  
  font-family: 'Arvo', serif;  
  text-align: center;
  background-color: transparent; 
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.jumbotron{
    position: relative;
    background-position: top center;    
    background-image: url('/assets/templates/studeyeah/images/header.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}
.jumbotron.footer{
    margin-top: 2em;
    margin-bottom: 0px;
    padding-bottom: 0Px;
    height: 1200px;
    background-position: center center;    
    background-image: url('/assets/templates/studeyeah/images/footer.jpg');
}
.jumbotron h1,
.jumbotron h2{
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
    /*text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;*/
}
.jumbotron h2{
    margin-top: 0px!important;
    padding-top: 0px!important;    
    margin-bottom: 50px!important;    
}
.jumbotron h1,
h1{
    color: #DC143C;
    font-weight: bolder;
    font-size: 4em;    
    margin-top: 30px;  
    margin-bottom: 60px;  
    font-family: 'Shrikhand', cursive;
}
h2{
    color: #DC143C;
    margin-top: 2em;  
    margin-bottom: 1em;  
    font-size: 2em;    
    font-family: 'Shrikhand', serif;
}
a{
    padding: 2px 5px;
    margin-left: -5px;
    color: #DC143C;
    /*color: #d62d88;*/
}
a:hover{
    color: white;
    text-decoration: none;
    background-color: #DC143C;
}

.spacetop{
    margin-top: 20px;
}

footer{
    display: block;
    position: relative;
    margin-top: 50px;
    bottom: 0px;
    font-size: 1rem;
}


@media screen and (min-width: 0px) and (max-width: 900px){
    body{
      font-size: 2em;  
    }
    .jumbotron{
        height: 400px;
        background-position: right center;
    }    
    h1,
    .jumbotron h1{
        font-size: 2.4em; 
        margin-top: 20px;    

    }
    h2,
    .jumbotron h2{
        font-size: 1.5em; 
    }
    .logo{
        margin-bottom: 100px;
    }
    .logo img{
        width: 300px;
    }
    .sponsor img{
        width: 50%;
        margin: 0 auto;
    }
}


