[[$tpl.header]]
<div class="page-header jumbotron">
<h1>[[*longtitle:isnot=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]` ]]</h1>
[[*description:isnot=``:then=`<p class="lead">[[*description]]</p>`]]
</div>
<div class="[[*layout:isequal=`fluid`:then=`row-fluid`:else=`row`]]">
	<div class="span8">
		[[*content]]
	</div>
	<div class="span4">
		<ul class="nav tagList">
                    <li class="nav-header" style="display:block;"><h4>Categories</h4></li>
                    [[+tags]]
                </ul>
		<ul class="nav nav-list">					  				
			<li class="nav-header"><h4>Latest Posts</h4></li>
			[[+latest_posts]]

			[[+comments_enabled:is=`1`:then=`
			<li class="nav-header"><h4>Latest Comments</h4></li>
			[[+latest_comments]]
			`]]
			<li class="nav-header"><h4>Archives</h4></li>
  			[[+archives]]
		</ul>
	</div>
</div>
[[$tpl.footer]]