[[$tpl.header.blog]]
<div class="page-header jumbotron">
	<div class="container">
		<h1>[[!getBlogTitle]]</h1>
		[[*description:isnot=``:then=`<h2 class="lead">[[*description]]</h2>`]]
	</div>
</div>
<div id="container" class="[[*layout:isequal=`fluid`:then=`container-fluid`:else=`container`]]">
	<div class="[[*layout:isequal=`fluid`:then=`row-fluid`:else=`row`]] tags">
		<div class="col-md-12">
			<ul class="nav tagList">
	         	<!--li class="nav-header"><h2>Categories</h2></li-->
	            [[+tags]]
	        </ul>
			<!--ul class="list-group">					  				
				<li class="list-group-item nav-header"><h4>Archives</h4>
	  			[[+archives]]
				</li>	  			
			</ul-->
		</div>
		<hr class="col-md-12"></hr>
	</div>
	<div class="row grid">
	[[*content]]
	</div>
</div>
[[$tpl.footer]]
