[[$tpl.header]]
<div class="jumbotron"  [[*pageheader:notempty=`[[$tpl.pageheader]]`]]>
	<div class="container">
		<h1>[[*longtitle:isnot=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]` ]]</h1>
	    [[*showbreadcrumb:isnot=`False`:then=`<div>
	        [[!BreadCrumb? &showBreadCrumbAtHome=`0`&showHomeCrumb=`0`&showCurrentCrumb=`0`&currentAsLink=`1` &crumbSeparator=`>` &containerTpl=`tpl.breadcrumb.container`&linkCrumbTpl=`tpl.breadcrumb.row` &cls=`breadcrumb`]]
	    </div>`]]
		[[*introtext:isnot=``:then=`<h2 class="lead">[[*introtext]]</h2>`]]	    
	</div>
</div>
<div id="container" class="[[*layout:isequal=`fluid`:then=`container-fluid`:else=`container`]]">
	[[*content]]
</div>
[[$tpl.footer]]
