<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>[[*longtitle:isnotempty:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]] | [[++site_name]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="[[++site_url]]" id="site_url" />

    <!-- Le styles -->
	<!--link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet"-->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">	

	<!--link rel="stylesheet" href="[[++site_url]]assets/templates/bootstrap/themes/[[+site_theme]]/css/style.css"-->
	<style type="text/css">
      body {
        	padding-top: 60px;
        	padding-bottom: 40px;
     	}
		.page-header {
			text-align: center;
		}
		.tagList li
		{
			display: inline;
			list-style-type: none;
			padding-right: 10px;
		}		
	</style>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="[[*layout:isequal=`fluid`:then=`container-fluid`:else=`container`]]">
		<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
 		<!-- Be sure to leave the brand out there if you want it shown -->
		<a class="brand" href="[[~[[++SiteStart]]]]">[[++site_name]]</a>		  
					
		<!-- Everything you want hidden at 940px or less, place within here -->
		<div class="nav-collapse">			
			[[!Wayfinder?
				&outerClass=`nav`
				&rowTpl=`tpl.navbar.row`
				&innerTpl=`tpl.navbar.inner`
				&startId=`0`
				&level=`2`
			]]
		</div>
    </div>
  </div>
</div>
<div class="[[*layout:isequal=`fluid`:then=`container-fluid`:else=`container`]]">
	<div class="[[*layout:isequal=`fluid`:then=`row-fluid`:else=`row`]]">
		<div class="page-header jumbotron">
		<h1>[[*longtitle:isnot=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]` ]]</h1>
		[[*introtext:isnot=``:then=`<p class="lead">[[*introtext]]</p>`]]
		</div>
	</div>
	<div class="[[*layout:isequal=`fluid`:then=`row-fluid`:else=`row`]]">
		[[*content]]
	</div>
	<footer>
		<hr/>
		<small class="span4 offset4" style="text-align:ceter;font-size:x-small;">Designed and built by [[++site_owner]] © 2012</small>
	</footer>
	<div id="back-top"><a href="#">Back to top</a></div> 
</div> <!-- /container --> 
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
<img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100541593ns.gif" />    	

<script type="text/javascript">
/* 
* Load dynamic CSS files 
* If not already exists
*/
if( jQuery && !jQuery.getCSS ){
	jQuery.getCSS = function( url, media ) {
		if( $("link[href$='"+url+"']").length > 0 ){
			return true;
		}else{
			jQuery( document.createElement('link') ).attr({
				href: url,
				media: media || 'screen',
				type: 'text/css',
				rel: 'stylesheet'
			}).appendTo('head');
		}
	}
}


// tooltip demo
$("a[rel=tooltip]").tooltip();
$("a[rel=popover]").popover();

if( $("gMap").length > 0 ) {

}

// Back to top
$('#back-top').hide();
$(function () {
$(window).scroll(function () {
	if ($(this).scrollTop() > 280) {
		$('#back-top').fadeIn();
	} else {
		$('#back-top').fadeOut();
	}
});
});
$('#back-top a').click(function () {
	$('body,html').animate({
		scrollTop: 0
	}, 800, 'easeOutExpo');
	return false;
});

// Support for AJAX loaded modal window.
// Focuses on first input textbox after it loads the window.
$('a[data-toggle="modal"]').click(function(e) {
    e.preventDefault();

    var href = $(this).attr('href');
    var rel = $(this).attr('rel');
    var target = $(this).attr('data-target');

    if ( href.indexOf('#') == 0) {
        $(target).modal('show');							
    } else {
        $.get(href, function(data) {
            $(target).empty();
            $(target).html(data);
            $(target).on('hide', function () {
                $(this).empty();
            });			
            						$(target).modal('show');	
        }).success(function() {
			if( $('video').length > 0 ){
			    $.getCSS('/assets/templates/mediaelement/build/mediaelementplayer.min.css');
			    $.getScript("/assets/templates/mediaelement/build/mediaelement-and-player.min.js", function(){
				$(target).modal('show');
				$('video').mediaelementplayer({
					enableAutosize: true,
					success: function(player, node) {
						$('#' + node.id + '-mode').html('mode: ' + player.pluginType);
					}
				});
			    });
			}
        });
    }	
    return false;
})

</script>
<!-- End Piwik Tracking Code -->
</body>
</html>
