<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>[[*longtitle:isnotempty:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]] | [[++site_name]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="[[+description:notags]]"> 
    <meta name="author" content="[[++site_ownwer:notags]]">
    <base href="[[++site_url]]" id="site_url" />
    
    <!-- Le styles -->
    <!--link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet"-->    
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">  
    <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">  

    <link href="[[++site_url]]assets/templates/sofaweb/css/style.css" rel="stylesheet">

    <script src="http://api.html5media.info/1.1.5/html5media.min.js"></script>
    <style>

        #main{
            margin-top: 50px;
            height:100%;
            min-height:100%;
        }
        #footer{
            height:250px;
            border-top: 1px solid #E5E5E5;
            background-color: #F5F5F5;
            color: #777777;
            margin: 50px 0px 0px 0px;            
            padding: 20px 0px 50px 0px;
        }   
        .jumbotron{
            text-align: center;
            margin: 0 auto;
            margin-bottom:50px;
        }
   </style>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="navbar navbar-fixed-top navbar-inverse2">
  <div class="navbar-inner">
    <div class="container">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="brand" href="[[~[[++site_start]]]]" title="[[++site_name]]">[[++site_name]]</a>  

        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse">          
            [[!Wayfinder?
                &outerClass=`nav`
                &innerClass=`dropdown-menu`
                &startId=`0`
                &level=`2`
            ]]
        </div>
    </div>
  </div>
</div>
<div id="main" class="container">

    <div class="page-header jumbotron">
        <h1>[[*longtitle:isnot=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]` ]]</h1>
        [[!BreadCrumb? &showBreadCrumbAtHome=`0` &showHomeCrumb=`0` &currentAsLink=`1` &crumbSeparator=`>` &containerTpl=`tpl.breadcrumb.container`&linkCrumbTpl=`tpl.breadcrumb.row` &cls=`breadcrumb`]]
        [[*introtext:isnot=``:then=`<div class="lead">[[*introtext]]</div>`]]
    </div>

    <div class="row"><div class="span12">[[*content]]</div></div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="12">                 
                <center>
                    <p>Built by [[++site_owner]] © 2012</p>
                    <small>Page loaded [^t^] ([^s^])</small>
                </center>               
            </div>
        </div>
    </div>
</footer>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
<script src="[[++site_url]]assets/templates/sofaweb/js/default.js"></script>
 <img src="http://piwik.sofasurfer.org/piwik.php?idsite=3&amp;rec=1" style="border:0" alt="" />
</body>
</html>
