[[$tpl.header]]
<div class="page-header jumbotron">
	<h1>[[*longtitle:isnot=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]` ]]</h1>
	[[*introtext:isnot=``:then=`<div class="lead">[[*introtext]]</div>`]]
</div>
<div class="row">
<div class="span8">
[[*content]]
[[*ImageGallery:notempty=`
    <h2>Screenshots:</h2>
	<ul class="thumbnails">[[!Gallery? 
    &album=`[[*ImageGallery]]`
    &itemCls=`span2`
    &imgCls=`thumbnail`
    &thumbTpl=`tpl.gallery.item`
    &thumbWidth=`160`
    &thumbHeight=`120`   
    &plugin=`slimbox`
    &loop=`1`
    &slimboxRenderJsOnStartup=`0` ]]</ul>
`]]
</div>
<div class="span4">
  <img src="[[*pageimage]]" class="thumbnail" title="[[*pagetitle]]" />
  <p>[[*tags]]</p>
</div>
</div>
[[$tpl.footer]]
