Searching 83 files for "logo-kb"

0 matches across 0 files
[[$tpl.header]]
<div class="jumbotron">
    <div class="container">
        <h1>[[*longtitle:isnot=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]` ]]</h1>
        [[*showbreadcrumb:isnot=`False`:then=`<div>
            [[!BreadCrumb? &showBreadCrumbAtHome=`0` &showHomeCrumb=`0` &currentAsLink=`1` &crumbSeparator=`>` &containerTpl=`tpl.breadcrumb.container`&linkCrumbTpl=`tpl.breadcrumb.row` &cls=`breadcrumb`]]
        </div>`]]
        [[*introtext:isnot=``:then=`<div class="lead">[[*introtext]]</div>`]]
        [[*tags]]
        <p><a href="[[*siteurl]]" target="_blank">[[*siteurl]]</a></p>
    </div>
</div>
<div id="container" class="[[*layout:isequal=`fluid`:then=`container-fluid`:else=`container`]]">
    <div class="row">
        <div class="col-md-12">
            [[*content]]
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        [[*ImageGallery:notempty=`
            <h2>Screenshots:</h2>
            <ul class="thumbnails">[[!Gallery? 
            &album=`[[*ImageGallery]]`
            &itemCls=`span2`
            &imgCls=`thumbnail`
            &thumbTpl=`tpl.gallery.item`
            &thumbWidth=`160`
            &thumbHeight=`120`   
            &plugin=`slimbox`
            &loop=`1`
            &slimboxRenderJsOnStartup=`0` ]]</ul>
        `]]   
        </div>
    </div>
</div>
[[$tpl.footer]]
