<!DOCTYPE html>
<html lang="en" dir="ltr" class="client-nojs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>[[*longtitle:isnotempty:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]] | [[++site_name]]</title>
		[[+description:notempty=`<meta name="description" content="[[+description]]">`]]
		<meta name="author" content="">
		<base href="[[++site_url]]" id="site_url" />
		
		<!-- If your page already includes jQuery you can skip this step -->
		<script type="text/javascript" src="[[++site_url]]assets/templates/kaltura-html5player/jquery-1.4.2.min.js" ></script>
		<!-- Include the css and javascript  -->
		<link rel="stylesheet" href="kaltura-html5player-widget/skins/jquery.ui.themes/jquery-ui-1.7.2.custom.css"></link> 
		<link rel="stylesheet" href="kaltura-html5player-widget/mwEmbed-player-static.css"></link> 
		<script type="text/javascript" src="kaltura-html5player-widget/mwEmbed-player-static.js"></script>
	</head>
	<body>
		[[*content]]
	</body>
</html>
