@charset "UTF-8";

/* 
=======================================
	Copyright
	Evolve Concepts Ltd. Hong Kong
	www.evolve.hk
=======================================
*/

#wrap-mainmenu {top:75px!important; left:300px!important; font-size:1.3em!important}
.sf-menu a:link, .sf-menu a:visited {display:block; color:#cf2027; text-decoration:none; margin:0px 15px!important; padding:0;}