<div class="row">
    <div class="col-md-12">
        <img class="img-responsive space-bottom" src="[[*pageimage:phpthumbof=`w=1200&h=628&zc=1`]]" alt="[[*longtitle]]" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 left">

        <p><b>Henry Strongbox loves to build boxes which bleep, screw, scream, scratch and twirl.</b> These self-made boxes can also reproduce fat beats, deep dub basses and energetic melodies. Henry Strongbox is collecting vintage boxes as well such as the stylophone box from 1967 or a wooden wurlitzer from 1964. Henry Strongbox is on a mission to advance the perception of sound. Through his performances he is channeling excitement, love and dada – there ain´t no box without a paradox!</p>

    </div>
    <div class="col-md-6 left">

        <p><b>Herny Strongbox is an award winning artist</b> - Billboard Songwriting Award, Chrysler Jazz Award, Independent Music Awards Finalist (Category Jazz Top 5), <b>IndieSuisse Album of the Year Award</b>. He has worked as a staff composer/arranger for Celf Enterprises (founder: Chico Freeman) as well as a freelance musician in NYC, USA for nearly 10 years. He has collaborated with Efrem Jenkins, Karsh Kale, Chico Freeman, Pepe Lienhard, George Garzone, Richie Beirach, Ainsley Burrows and many other artists.</p>
        <!--    
        <p>These self-made boxes can also reproduce fat beats, deep dub basses and energetic melodies. </p>
        <p>Henry Strongbox is collecting vintage boxes as well such as the stylophone box from 1967 or a wooden wurlitzer from 1964.</p>
        <p>Henry Strongbox is on a mission to advance the perception of sound. Through his performances he is channeling excitement, love and dada – <strong>there ain´t no box without a paradox</strong>!</p>
        <h3>Herny Strongbox is an award winning artist</h3>
        <p>Billboard Songwriting Award</p>
        <p>Chrysler Jazz Award</p>
        <p>Independent Music Awards Finalist (Category Jazz Top 5)</p>
        <p>IndieSuisse Album of the Year Award.</p>
        <p>He has worked as a staff composer/arranger for Celf Enterprises (founder: Chico Freeman) as well as a freelance musician in NYC, USA for nearly 10 years. He has collaborated with Efrem Jenkins, Karsh Kale, Chico Freeman, Pepe Lienhard, George Garzone, Richie Beirach, Ainsley Burrows and many other artists.</p>
        -->
    </div>
</div> 
<div class="row">
    <div class="col-md-12">       
        <h3>CONTACT</h3>
        <p><a href="mailto:henry@henrystrongbox.com">henry@henrystrongbox.com </a></p>
        <p><a title="Facebook" href="http://www.facebook.com/henrystrongbox" target="_blank">www.facebook.com/henrystrongbox</a></p>
    </div>
</div>
