<div class="row left">
    <div class="col-md-6">

        <h2>CRACK BOX</h2>

        <h3>Exterminator</h3>
        <audio controls>
          <source src="[[++site_url]]stream/henry/sound/exterminator_web.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <h3>Scratch</h3>
        <audio controls>
          <source src="[[++site_url]]stream/henry/sound/scratch_web.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <p>nord lead synth / koeder drum box / screw box / strongbox / scratch box / ring bell service box</p>
    </div>

    <div class="col-md-6">

        <h2>SPIT BOX</h2>

        <h3>Spit it</h3>
        <audio controls>
          <source src="[[++site_url]]stream/henry/sound/spit_it_web.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <h3>Bombastic Elastic</h3>
        <audio controls>
          <source src="[[++site_url]]stream/henry/sound/bombastic_elastic_web.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <p>henry strongbox rap & programming<br/>serena altavilla voc / kevin chesham drums</p>
    </div>

</div>
<div class="row">
    <div class="col-md-6">

        <h2>TRACE BOX</h2>

        <h3>Black Rider</h3>
        <audio controls>
          <source src="[[++site_url]]stream/henry/sound/black_rider_web.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <p>band in a box / screw box / scratch box / ring bell service box / bleep box / strongbox </p>
    </div>

    <div class="col-md-6">

        <h2>SPIT BOX</h2>

        <h3>Tweet</h3>
        <audio controls>
          <source src="[[++site_url]]stream/henry/sound/tweet_web.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <p>henry strongbox rap & programming<br/>missy d voc & lyrics</p>
    </div>

</div>



