<div class="row left">
    <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N0qkmH-xESU"></iframe>
        </div>
    </div>

    <div class="col-md-12">
        <h1></h1>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xAwAHt1lhhM"></iframe>
        </div>
    </div>
</div>
<div class="row space-top">
    <div class="col-md-12">
      <p><a class="btn btn-primary" target="_blank" href="https://www.youtube.com/channel/UC9bEcf_P6fFrCXGtbpkP-qw" role="Show all Videos">Show all Videos</a></p>
    </div>
</div>

<div class="row left">
    <div class="col-md-6">

        <h2>Henry Strongbox Presents</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N0qkmH-xESU"></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b8T_yPu-WDM"></iframe>
        </div>
    </div>

    <div class="col-md-6">

        <h2>Henry Strongbox LIVE @</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xAwAHt1lhhM"></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SKMKG3X5Lmg"></iframe>
        </div>

    </div>

</div>
<div class="row space-top">
    <div class="col-md-12">
      <p><a class="btn btn-primary" target="_blank" href="https://www.youtube.com/channel/UC9bEcf_P6fFrCXGtbpkP-qw" role="Show all Videos">Show all Videos</a></p>
    </div>
</div>