<div class="container-fluid ">
    <div class="row">
            <h2 class="hidden-lg">Videos</h2>
            <div id="carousel-example-generic" class="carousel slide" data-interval="false" data-ride="carousel">

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/mPgOG5Smb9o" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
               <div class="item">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/M4LVn2MU6BA" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
               <div class="item">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/Qmu2uKhRtls" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>       
                <div class="item">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/OHWL14EQOcc?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="item">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="100%" height="800px" src="https://www.youtube.com/embed/4J2ZcZG891w?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="item">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EkX5W7Qe6jA" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
    </div>
</div>
<div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Tour dates</h2>
            <table class="table table-hover">[[!pmGetTours?bandId=`413`&itemTpl=`tour.item.table`]]</table>          
            <center><p style="margin-top: 50px; margin-bottom: 50px;"><a title="Show past dates." class="buy france" href="[[~1143]]">Show Past Shows</a></p></center>
          </div>
        </div>
 
        <div class="row">
          <h2>Records</h2>
          <div class="col-md-6">
            <img class="img-responsive" src="/assets/templates/putsmarie/images/catchingbadtemper.png" alt="" />
            <h3>Catching Bad Temper</h3>
            <p>CD / LP & Digital Download<br/>
            28 September 2018</p>
            <div class="order">
              <a title="Buy Catching Bad Temper ||" class="buy" target="_blank" href="https://store.twogentlemen.net/en/287-catching-bad-temper">Buy</a>
            </div>
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="/assets/templates/putsmarie/images/masochI-II.jpg" alt="" />
            <h3>Masoch I-II</h3>
            <p>CD / LP & Digital Download<br/>
            25 September 2015</p>
            <div class="order">
              <a title="Buy Masoch ||" class="buy" target="_blank" href="http://store.twogentlemen.net/en/268-masoch-i-ii">Buy</a>
            </div>
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="/assets/templates/putsmarie/images/masochII.jpg" alt="" />
            <h3>Masoch II</h3>
            <p>Vinyl 10'' & Digital<br/>
            25 September 2015</p>
            <div class="order">
              <a title="Buy Masoch ||" class="buy" target="_blank" href="http://store.twogentlemen.net/267-masoch-ii">Buy</a>
            </div>
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="/assets/templates/putsmarie/images/masoch.jpg" alt="" />
            <h3>Masoch</h3>
            <p>
            10' & Digital<br/>
            12 December 2013</p>
            <div class="order"><a title="Buy Masoch" class="buy" target="_blank" href="http://store.twogentlemen.net/194-masoch">Buy</a></div>
          </div>        
        </div>
        <div class="row">
          <div class="col-md-12">
            <center><p style="margin-top: 50px;"><a title="Shop only for france" class="buy france" target="_blank" href=" http://www.wiseband.com/yo/shop.php?boutique=5501">Online shop france</a></p></center>
          </div>
        </div>
</div>
<div class="container-fluid dark">
        <div class="row">
          <div class="col-md-4">
            <h2 class="no-padding">Booking</h2>
            <!--h2>For bookings and other inquiries, please contact Two Gentlemen</h2--> 
            <p><a title="Two Gentlemen" href="http://twogentlemen.net/band/413" target="_blank"><img src="/assets/templates/putsmarie/images/twogentelmen-logo.png" alt="Two Gentlemen" /></a></p>
          </div>
          <div class="col-md-4">
            <h2 class="no-padding">Music</h2>
            <!--p><iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=4271841418/size=small/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="https://putsmarie.bandcamp.com/album/masoch-ii">Masoch II by Puts Marie</a></iframe></p-->
            <a href="http://putsmarie.bandcamp.com/" target="_new"><img src="https://s0.bcbits.com/img/buttons/bandcamp_130x27_black.png"></a>
          </div>
          <div class="col-md-4">
            <h2 class="no-padding">Connect</h2>

            <a href="mailto:info@putsmarie.com"><i class="fas fa-envelope"></i></a>
            <a href="https://www.facebook.com/putsmariefans/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/explore/tags/putsmarie/" target="_blank"><i class="fab fa-instagram"></i></a>

            <!--div class="fb-page" data-href="https://www.facebook.com/putsmariefans?fref=ts" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/putsmariefans?fref=ts"><a href="https://www.facebook.com/putsmariefans?fref=ts">Puts Marie</a></blockquote></div></div-->
          </div>
        </div>
</div>